.MyCourseContainer{
    background:#ffffffb8;
    color:#626060;
    text-align:left;
    height:239px;
    width: 395px;
    border-radius:20px;
    padding:20px;
}
.courseDetails{  
    border:1px solid #80808026;  
    border-radius:10px;
    padding:10px;
    margin-top:10px;
    width:370px;
    display:flex;
    color:#626060;
    
}
.subjectIconStyle{
    width:33px;
    height:33px;
    border-radius:50%;
}
.courseDetailsLogo{
    padding-top:5px;
    width:9%;
}
.courseDetailsText{
    width:61%;
}
.courseDetailsNavigate{
    width:30%;
    padding-top:3px;
}
.MyCourseHeader{
    font-size: 24px;
    font-weight:600;
}
.MyCourseProfName{
    font-size: 12px;
}