.MyDeadlineContainer{
    background:#ffffffb8;
    color:#626060;
    text-align:left;
    height:239px;
    width: 395px;
    border-radius:20px;
    padding:20px;
}
.deadlineDetails{  
    border:1px solid #80808026;  
    border-radius:10px;
    padding:10px;
    margin-top:10px;
    width:370px;
    display:flex;
    color:#626060;
    
}
.deadlineDetailsLogo{
    padding-top:5px;
    width:8%;
}
.deadlineDetailsText{
    width:50%;
    padding-left:4px;
}
.deadlineDetailsNavigate{
    width:42%;
    font-weight:bold;
    display:flex;
    padding-top:3px;
}
.MyDeadlineHeader{
    font-size: 24px;
    font-weight:600;
}
.MyDeadlineDate{
    font-size: 12px;
    font-weight:bold;
}
.deadlineDetailsRed{
    width:20px;
    height:20px;
    background:red;
    margin:3px 0 0 4px;
    border-radius:50%;
}