.App {
  background-color:green;
  }

.signinHeader{
    height: 80px;
    width: 99%;
    font-size: 30px;
    font-weight: bold;
    top: 46px;
    text-align: left;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.title {
    font-size: 30;
    font-weight: 800;
    display: flex;
    column-gap: 30px;
}
.tagline {
    font-size: 10;
    font-weight: 100;
}
.Section-headings{
  font-size: large;
  color: rgb(87, 82, 82);
}

.signinlabel{
    display: block;
    font-size: larger;
    color: gray;
    padding: 10px 0px;
    text-align: right;
}

.signuplabel{
  display: block;
  font-size: larger;
  color: gray;
  padding: 10px 0px;
  text-align: right;
}

.label-align{
    display: flex;
    gap: 5%;
}

.labelprops{
    width: 40%;
}

.section {
    display:flex;
    justify-content:space-around;
}
  
.input{
    border: 1px solid #C4C4C4;
    margin:10px;
    text-align-last: auto;
    height:25px;
    box-shadow: 0px 1px 1px 1px #C4C4C4;
    border-radius:10px;
    width: 250px;
}

.inputprops{
    width: 60%;
}

.btn{
    background-color: #119da4 !important;
    color: white !important;
    font-size: 15px !important;
    text-decoration: none !important;
    text-transform:none!important;
    border-radius: 16px !important;
    width: 130px;
    margin: 10px !important;
    
}

.btnSignIn{
    background-color: #119da4 !important;
    color: white !important;
    font-size: 15px !important;
    padding-left:35px!important;
    text-decoration: none !important;
    text-transform:none!important;
    border-radius: 16px !important;
    width: 130px;
    margin: 10px !important;
    
}

.BtnText-align{
    text-align:center;
}

.messages{
  display: flex;
  justify-content:center;
}
  
.error{
  display: block;
  color: red;
  width: fit-content;
  height: 30px;
  padding: 2px 0px 50px;
  text-align: center;
}
  
.success{
  display: block;
  color: green;
  width: fit-content;
  height: 50px;
  padding: 5px;
  text-align: center;
}

.section-align{
    background-color: rgba(255, 255, 255, 0.644);
    padding: 20px;
    box-shadow: 0px 1px 1px 1px #C4C4C4;
    border-radius:10px;
    border: 1px solid #C4C4C4;
    text-align: center;
    margin: 80px;
    width: 100%;
}
  
.forgotPassword{
    text-decoration:underline;
    color: gray;
    margin: 10px;
    justify-content: center;
}

.Google-label-align{
    display: flex;
    gap: 10%;
    justify-content:center;
    margin:20px 150px;
    box-shadow: 1px 1px 1px 1px #C4C4C4;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.527);
    width: 250px;
    border: 1px solid #C4C4C4;
}

.Google-label{
    display:block;
    font-size:large;
    color: gray;
    padding: 10px 0px;
}

.ImageProps{
  width: 25px;
  border-radius: 50%;
  margin: 5px;
}

.vertical {
    border-left: 10px solid gray;
    height: 440px;
    position:absolute;
    left: 50%;
    border-radius:10px;
    margin: 85px 45px 0px;
}