.container{
    display:flex;
    column-gap: 30px;
    width:80%;
    margin:auto;
}
.content{
    display:flex;
    column-gap:30px;
    flex-wrap: wrap;
}
.myProfile-Header{
    font-size: 35px;
    font-weight:600;
    text-align: left;
    color: #625f5f;
}
.MyProfileAccountContainer{
    background:#ffffffb8;
    color:gray;
    box-shadow: 3px 3px #bfafafbd;
    text-align:left;
    height:534px;
    width: 220px;
    border-radius:20px;
    padding:20px;
    margin:10px 0px;
}
.MyProfileSettingsContainer{
    background:#ffffffb8;
    color:gray;
    text-align:left;
    height:534px;
    min-width: 400px;
    box-shadow: 3px 3px #bfafafbd;
    border-radius:20px;
    padding:20px;
    margin:10px 0px;
}