.Header {
    height: 80px;
    width: 105.5%;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    top: -46px;
    left: -3%;
    text-align: left;
    box-shadow: 2px 2px 5px;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.imagestyle2 {
    max-height: 80px;
    max-width: 80px;
    cursor:pointer;
    /* position: absolute; */
    padding-top: 5px;
}

.Text {
    /* position: absolute; */
    padding-left: 20px;
    padding-top: 4px;
}

.TagLine {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    font-size: 20px;
    width: 400px;
}

.button1 {
    /* position: absolute; */
    padding: 10px!important;
    cursor:pointer;
    height: 40px!important;
    width: 150px!important;
    background-color: #119DA4!important;
    color: white!important;
    border-radius: 10px!important;
    font-size: 15px!important;
    box-shadow: 4px 4px 5px!important;
}

.Button {
    padding-left: 850px;
    padding-top: 17px;
}