.chatListContainer{

}
.chatListInputBox{
    border: 1px solid #C4C4C4;
    width:100%;
    margin:10px 0px;
    padding:0 0 0 10px;
    text-align-last: auto;
    height:25px;
    box-shadow: 0px 1px 1px 1px #C4C4C4;
    border-radius:10px;
}
.chatListButton {
    background-color: #119da4 !important;
    color: white !important;
    font-size: 14px !important;
    width:100px;
    padding-left:18px!important;
    text-decoration: none !important;
    height:25px;
    text-transform:none!important;
    border-radius: 10px !important;
  }
  .chatListButtonNotSelected{
    background-color: White !important;
    color: #119da4 !important;
    font-size: 14px !important;
    width:100px;
    padding-left:18px!important;
    border:3px solid #119da4!important;
    text-decoration: none !important;
    text-transform:none!important;
    height:25px;
    border-radius: 16px !important;
  }
  .chatListButtons{
    display: flex;
    justify-content: space-between;
  }
  .chatListNewChat {
    width: 30px;
    height: 30px;
    background: #119da4;
    color:white;
    border-radius: 50%;
    padding: 0px 10px 30px 10px;
    font-size: 40px;
  }
  .chatListAddNewChatText{
      font-size:12px;
      align-self: center;
  }
  .chatListAddNew{
      display:flex;
  }
  .profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .ChatListItem{
      margin-top:5px;
      cursor:pointer;
      display:flex;
      border-bottom:1px solid #80808026;
  }
  .chatListLastText{
      font-size:12px;
  }
  .chatListName{
      font-size:12px;
      color:black;
      font-weight:bold;
  }
  .chatListProfilePic{
      width:22%;
  }
  .chatListNameAndText{
      width:70%;
  }
  .ChatListChatTime{
      font-size:12px;
  }
  .chatListChatNumber{
      color: White;
      background-color:#4267B2;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      text-align-last: center;
  }